.title {
  font-size: 30px;
  font-weight: 900;
}

.list_ul {
  margin: 50px 10px 40px 10px;
  padding: 0;
  list-style-type: none;
}

.list_ul > li > a {
  text-decoration: none;
}

.list {
  padding: 5px;
  margin: 10px;
  background-color: white;
  border-right: 20px solid black;
  width: 100px;
  text-decoration: none;
}

.contents {
  margin: 20px 20px 150px 20px;
}

.background {
  background-color: rgb(216, 218, 61);
  border: 1px dotted gray;
  display: flex;
  flex-direction: row;
  width: 600px;
}

.text-color {
  color: rgb(128, 0, 128);
}

.font {
  font-family: "Zen Antique", serif;
}

.dotted {
  border-bottom: 1px dotted rgb(128, 0, 128);
}

.center {
  margin: auto;
}
