* {
  margin-bottom: 5px;
}

.dotted {
  border-style: dotted;
}

.double {
  border-style: double;
}

.solid {
  border-style: solid;
}

.mixed {
  border-style: solid double dotted dashed;
}

.solid-5px {
  border-width: 5px;
  border-style: solid;
}

.mixed-5px {
  border-style: solid;
  border-width: 1px 3px 5px 7px;
}

.solid-red {
  border-style: solid;
  border-color: purple;
}

.mixed-color {
  border-style: solid;
  border-color: blue rgba(255, 0, 0, 1) rgba(0, 255, 0, 0.5) seagreen;
}

.red-border {
  border-style: solid;
  border-color: rgba(255, 0, 0, 0.75);
}

.green-border {
  border-style: solid;
  border-color: rgba(0, 255, 0, 0.5);
}

.blue-border {
  border-style: dotted;
  border-color: rgba(0, 0, 255, 0.25);
}
