.menu-outline {
  background-color: yellow;
  text-align: center;
}
.ul-flat {
  display: inline-block;
  margin: 20px auto 20px auto;
}

.ul-flat * {
  display: inline-block;
}

/* ------------------------ */
/* 
.ul-flat {
  display: inline-block;
  list-style-type: none;
  padding: 0px;
  margin: 5px;
}

.li {
  display: inline-block;
  text-align: center;
  margin: 15px;
  font-weight: 600;
}

.div {
  text-align: center;
  background-color: yellow;
}

.title {
  font-size: 30px;
  font-weight: 900;
} */
