.color_green {
  color: green;
}

.color_blue {
  color: blue;
}

.back_color_yellow {
  background-color: yellow;
}

.color2_green {
  color: green;
}

.color2_blue {
  color: blue;
}
.back_color2_yellow {
  background-color: yellow;
}
