body {
  margin: auto;
  border: 5px solid black;
  padding: 0px 30px 30px 30px;
  background-color: orange;
  width: 640px;
}

html {
  background-color: #00539f;
}

h1 {
  text-shadow: 3px 3px black;
  color: #00539f;
  font-size: 60px;
}

ul,
p {
  line-height: 2;
}

.align-center {
  text-align: center;
}
